.container {
  position: relative;
}

body {
  background-image: url("./sprite/forest_b.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* img { 
  width: 100%;
  height: auto;
  opacity: 0.7;
} */

.name {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
  font-size: 50px;
}

.des {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 10px;
  font-size: 20px;
}

button {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 24px;
  width: 130px;
  height: 60px;
}

.btn-start {
  position: absolute;
  bottom: 2%;
  right: 2%;
  padding: 10px;
}

.btn-choice {
  position: absolute;
  bottom: 2%;
  left: 35%;
  padding: 10px;
}

.btn-again {
  position: absolute;
  top: 30%;
  right: 13%;
}

.btn-rt {
  position: absolute;
  top: 28%;
  right: 48%;
}

.btn-playagain {
  position: absolute;
  bottom: 10%;
  right: 46%;
  padding: 10px;
}

.pig {
  width: 14%;
  height: auto;
  position: absolute;
}

.wolf {
  width: 19%;
  height: auto;
  position: absolute;
}

.askp {
  width: 30%;
  height: auto;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}

.message {
  margin-top: 8%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
  font-size: 40px;
  text-align: center;
}

.win {
  background-image: url("./sprite/forest_w.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.message-w {
  margin-top: 8%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
  font-size: 60px;
  text-align: center;
}

.sound-effect {
  position: absolute;
  right: 40%;
  bottom: 1%;
}

.sound-alp {
  position: absolute;
  left: 27%;
  top: 40%;
}